body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#sidebar {
  float: right;
}

#videos {
  float: left;
  top: 100px;
}

ul {
  list-style-type: none;
  background: white;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;

}

li {
  display: inline-block;
}

ul a {
  text-decoration: none;
  color: royalblue;
  width: 100px;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;

}

li img {
  padding: 1px;
}

#avatar {
  float: right;
  padding-right: 00px;
}
