body {
    background-color: gray;
  }
  
#sidebar{
    float:right;
}
#videos{
    float:left;
    top:100px;
}

#nav {
    position: absolute;
    left: 0px;
    height: 40px;
    background-color: #2C64B4;
    width: 100%;
    text-align: left;
}
#nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

